# Robot Framework outputs
results/
output/

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Local environment config (optional but recommended)
resources/variables/env_test.yaml
